.layout {
  display: flex;
  flex-direction: column;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.light-mode .content {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark-mode .content {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
